<%BEGIN_DEFINITION_TEMPLATE>
/*************
* input.h
*
* Input Layer Header
* Hardware Plateform: ESP-32
*
* This file defines the datastructure needed to create a 1D input layer.
*/

#ifndef __INPUT_H__
#define __INPUT_H__


#endif

<%END_DEFINITION_TEMPLATE>