#ifndef __NEURAL_NETWORK_H__
#define __NEURAL_NETWORK_H__

#include "neural_network_params.h"
<%INCLUDE>

volatile int num_layers = <%NUMBER_OF_LAYERS>;

<%STRUCTS>

void buildNN();
<%LAYER_DATATYPE_DELIMITER> fwdNN(<%WEIGHT_DATATYPE>*);

#endif
