<%BEGIN_DEFINITION_TEMPLATE>
include "neural_network.h"

<%LAYER_DATATYPE_DELIMITER> * fwdNN(<%LAYER_DATATYPE_DELIMITER>* data)
{
   <%BUILD_FUNCTION>

    <%FWD_FUNCTION>

    return data;
}

<%END_DEFINITION_TEMPLATE>
